# Dependency directories
node_modules/
package-lock*
example*

# TypeScript output
dist/

# Jest coverage
coverage/

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# npm package files
*.tgz